<div style="margin: 20px;">
  <h1 style="color: brown; text-align: center;">Valorant Tournament</h1>
  <h3 style="color: white;text-align: center;">Registro de equipos</h3>

  @if (equipos.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Región</th>
          <th>No. Jugadores</th>
          <th>Manager</th>
          <th>Seleccionar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (equipo of equipos; track equipo.id) {
          <tr>
            <td> {{equipo.id}} </td>
            <td> {{equipo.nombre}} </td>
            <td> {{equipo.region}} </td>
            <td> {{equipo.nojugadores}} </td>
            <td> {{equipo.manager}} </td>
            <td>
              <button type="button" class="btn btn-warning" (click)="seleccionarEquipo(equipo)">Seleccionar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="eliminarEquipo(equipo.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No hay equipos</p>
  }
  <!--<div class="col-sm-4">
    <p>
      ID: <input type="text" class="form-control" [(ngModel)]="equipo.id">
    </p>
    <p>
      Nombre: <input type="text" class="form-control" [(ngModel)]="equipo.nombre">
    </p>
    <p>
      Región: <input type="text" class="form-control" [(ngModel)]="equipo.region">
    </p>
    
    <p>
      No. Jugadores: <input type="text" class="form-control" [(ngModel)]="equipo.nojugadores">
    </p>
    <p>
      Manager: <input type="text" class="form-control" [(ngModel)]="equipo.manager">
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="agregarEquipo()">Agregar</button>
      <button type="button" class="btn btn-success" (click)="modificarEquipo()">Modificar</button>
    </p>

  </div> -->
  <div class="form-container">
    <div class="valorant-form">
      <p>ID: <input type="text" [(ngModel)]="equipo.id"></p>
      <p>Nombre: <input type="text" [(ngModel)]="equipo.nombre"></p>
      <p>Región: <input type="text" [(ngModel)]="equipo.region"></p>
      <p>No. Jugadores: <input type="text" [(ngModel)]="equipo.nojugadores"></p>
      <p>Manager: <input type="text" [(ngModel)]="equipo.manager"></p>
      <p>
        <button type="button" class="btn btn-primary" (click)="agregarEquipo()">Agregar</button>
        <button type="button" class="btn btn-success" (click)="modificarEquipo()">Modificar</button>
      </p>
    </div>
  </div>
  
</div>

<router-outlet></router-outlet>